# Python 기초 강의
## 1일차

+ 파이썬 개발환경 셋업
+ 파이썬 기본 데이터타입
+ 파이썬 기본 자료구조
    - 리스트
    - 튜플
    - 집합
    - 사전

In [11]:
2 ** 1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [9]:
"이진석" * 3

'이진석이진석이진석'

In [10]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## EP02

In [3]:
123  # 정수 (int)

123

In [4]:
123.456  # 실수 (float)

123.456

In [5]:
2 ** 1000  # 계산결과 => 정수

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [6]:
"이진석"  # 문자열 (str)
"아이폰"
"갤럭시"
"노트북"

'노트북'

In [7]:
10 == "10"

False

### 변수

In [8]:
나이 = 20  # 등호 1개, 할당(assign) 연산자

In [9]:
나이

20

In [10]:
나이 = 30

In [11]:
나이

30

In [12]:
20 = 30

SyntaxError: can't assign to literal (<ipython-input-12-4302fa06e41f>, line 1)

In [13]:
나이

30

In [18]:
나이 = (나이 + 1)  # 총 5회 실행

In [19]:
나이

35

In [21]:
age = 19
country = "Korea"
country

'Korea'

In [26]:
나이 = (나이 + 1)
나이

39

In [29]:
last_name = "Lee"

In [30]:
a = 10
b = 20

In [31]:
last_name = "Lee"  # snake case

lastName = "Lee"  # Camel Case

### 데이터 타입

In [32]:
2 + 3

5

In [34]:
10 / 3  # / 의 결과는 항상 실수

3.3333333333333335

In [35]:
10 // 3  # 몫

3

In [36]:
10 % 3  # 나머지

1

In [38]:
12 % 3 == 0  # 12가 3의 배수인지 여부

True

In [39]:
divmod(10, 3)  # 몫/나머지를 한 번에 계산

(3, 1)

In [40]:
2 ** 100

1267650600228229401496703205376

값에 대한 비교 : ==, !=, <, <=, >, >=

In [41]:
10 < -1

False