In [1]:
TOKEN = "**************"  # FIXME: 각자의 Token 값으로 변경

In [2]:
!pip install python-telegram-bot

Requirement already satisfied: python-telegram-bot in /Users/allieus/anaconda3/lib/python3.7/site-packages (11.1.0)
Requirement already satisfied: certifi in /Users/allieus/anaconda3/lib/python3.7/site-packages (from python-telegram-bot) (2018.11.29)
Requirement already satisfied: cryptography in /Users/allieus/anaconda3/lib/python3.7/site-packages (from python-telegram-bot) (2.3.1)
Requirement already satisfied: future>=0.16.0 in /Users/allieus/anaconda3/lib/python3.7/site-packages (from python-telegram-bot) (0.17.1)
Requirement already satisfied: idna>=2.1 in /Users/allieus/anaconda3/lib/python3.7/site-packages (from cryptography->python-telegram-bot) (2.7)
Requirement already satisfied: asn1crypto>=0.21.0 in /Users/allieus/anaconda3/lib/python3.7/site-packages (from cryptography->python-telegram-bot) (0.24.0)
Requirement already satisfied: six>=1.4.1 in /Users/allieus/anaconda3/lib/python3.7/site-packages (from cryptography->python-telegram-bot) (1.11.0)
Requirement already satisfied: cffi!=1.11.3,>=1.7 in /Users/allieus/anaconda3/lib/python3.7/site-packages (from cryptography->python-telegram-bot) (1.11.5)
Requirement already satisfied: pycparser in /Users/allieus/anaconda3/lib/python3.7/site-packages (from cffi!=1.11.3,>=1.7->cryptography->python-telegram-bot) (2.18)
twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
You are using pip version 10.0.1, however version 19.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
import telegram

In [4]:
bot = telegram.Bot(token=TOKEN)

In [10]:
for update in bot.getUpdates():
    print('chat_id :', update.message.chat_id)
    print(update)

chat_id : 42478249
{'update_id': 893430766, 'message': {'message_id': 287, 'date': 1549949650, 'chat': {'id': 42478249, 'type': 'private', 'username': 'allieus', 'first_name': 'Chinseok'}, 'text': 'hello', 'entities': [], 'caption_entities': [], 'photo': [], 'new_chat_members': [], 'new_chat_photo': [], 'delete_chat_photo': False, 'group_chat_created': False, 'supergroup_chat_created': False, 'channel_chat_created': False, 'from': {'id': 42478249, 'first_name': 'Chinseok', 'is_bot': False, 'username': 'allieus', 'language_code': 'ko'}}}

In [11]:
chat_id = "42478249"  # FIXME: 각자의 대화방 아이디를 입력해주세요.

In [12]:
bot.sendMessage(chat_id=chat_id, text="안녕 ~~~")

In [16]:
메세지 = """
마음의 소리
https://comic.naver.com/webtoon/list.nhn?titleId=20853&weekday=tue

사이드 킥
https://comic.naver.com/webtoon/list.nhn?titleId=642653&weekday=tue

신도림
https://comic.naver.com/webtoon/list.nhn?titleId=683496&weekday=tue
"""

bot.sendMessage(chat_id=chat_id, text=메세지)

## 기본 자료구조

In [2]:
"Hello World"  # 문자열도 목록이다.

'Hello World'

In [4]:
멜론_TOP5_가수_리스트 = ["우디", "엠씨더맥스", "이소라", "청하", "폴킴"]

In [5]:
멜론_TOP5_가수_리스트[0]  # 제일 처음 : 0번 인덱스

'우디'

In [6]:
멜론_TOP5_가수_리스트[4]  # 끝

'폴킴'

In [9]:
마지막_인덱스 = len(멜론_TOP5_가수_리스트) - 1
멜론_TOP5_가수_리스트[마지막_인덱스]

'폴킴'

In [11]:
멜론_TOP5_가수_리스트[-1]

'폴킴'

끝에 추가

In [12]:
멜론_TOP5_가수_리스트.append('영비')
멜론_TOP5_가수_리스트

['우디', '엠씨더맥스', '이소라', '청하', '폴킴', '영비']

원하는 인덱스에 추가

In [13]:
멜론_TOP5_가수_리스트.insert(1, '송민호')
멜론_TOP5_가수_리스트

['우디', '송민호', '엠씨더맥스', '이소라', '청하', '폴킴', '영비']

원하는 인덱스의 값을 변경

In [15]:
멜론_TOP5_가수_리스트[0] = 'EXO'
멜론_TOP5_가수_리스트

['EXO', '송민호', '엠씨더맥스', '이소라', '청하', '폴킴', '영비']

여러 값을 추가하고 싶을 경우

In [16]:
멜론_TOP5_가수_리스트.append('케이윌')
멜론_TOP5_가수_리스트.append('트와이스')
멜론_TOP5_가수_리스트

['EXO', '송민호', '엠씨더맥스', '이소라', '청하', '폴킴', '영비', '케이윌', '트와이스']

In [17]:
추가할_리스트 = ['케이윌', '트와이스']
멜론_TOP5_가수_리스트.extend(추가할_리스트)
멜론_TOP5_가수_리스트

['EXO', '송민호', '엠씨더맥스', '이소라', '청하', '폴킴', '영비', '케이윌', '트와이스', '케이윌', '트와이스']

실수 포인트

In [18]:
멜론_TOP5_가수_리스트.extend('방탄소년단')
# 멜론_TOP5_가수_리스트.extend(['방', '탄', '소', '년', '단'])
멜론_TOP5_가수_리스트

['EXO',
 '송민호',
 '엠씨더맥스',
 '이소라',
 '청하',
 '폴킴',
 '영비',
 '케이윌',
 '트와이스',
 '케이윌',
 '트와이스',
 '방',
 '탄',
 '소',
 '년',
 '단']

In [19]:
알파벳 = "abcdefghijklmnopqrstuvwxyz"

In [21]:
알파벳[2:]

'cdefghijklmnopqrstuvwxyz'

In [22]:
알파벳[2:-2]

'cdefghijklmnopqrstuvwx'

In [24]:
알파벳[2:-2:2]

'cegikmoqsuw'

In [25]:
알파벳[:-2]

'abcdefghijklmnopqrstuvwx'

In [26]:
# 마지막 4개
알파벳[-4:]

'wxyz'

In [27]:
# 처음 4개
알파벳[:4]

'abcd'

In [29]:
# 아래 값을 적절히 넣으면, 문자열이 뒤집힙니다. ㅎㅎ :D
알파벳[::-1]

'zyxwvutsrqponmlkjihgfedcba'

값의 삭제

In [30]:
음식_목록 = ['라면', '김밥', '맥주', '김밥', '라면']

In [31]:
음식_목록.remove('맥주')
음식_목록

['라면', '김밥', '김밥', '라면']

In [32]:
음식_목록.remove('김밥')
음식_목록

['라면', '김밥', '라면']

In [33]:
음식_목록.remove('짜장면')

ValueError: list.remove(x): x not in list

In [34]:
음식_목록

['라면', '김밥', '라면']

In [35]:
음식_목록[4]

IndexError: list index out of range

In [36]:
음식_목록[4:]

[]

좋아하는 메뉴 TOP10을 구성해보세요.

In [38]:
내가_좋아하는_메뉴 = [
    '라면',
    '볶음밥',
    '짬뽕',
    '떡볶이',
    '만두',
    '김치전골',
    '사골국',
    '계란탕',
    '생수',
    '델몬트',
]

In [43]:
# 2번째로 좋아하는 메뉴
내가_좋아하는_메뉴[1]

'볶음밥'

In [44]:
# 4위~7위
내가_좋아하는_메뉴[3:7]

['떡볶이', '만두', '김치전골', '사골국']

In [45]:
# 하위 3개 메뉴
내가_좋아하는_메뉴[-3:]

['계란탕', '생수', '델몬트']

In [46]:
# 거꾸로
내가_좋아하는_메뉴[::-1]

['델몬트', '생수', '계란탕', '사골국', '김치전골', '만두', '떡볶이', '짬뽕', '볶음밥', '라면']

한 변수에 나눠, 저장하기

In [56]:
내가_좋아하는_메뉴 = [
    '라면',
    '볶음밥',
    '짬뽕',
    '떡볶이',
    '만두',
]

In [59]:
메뉴1 = 내가_좋아하는_메뉴[0]
메뉴2 = 내가_좋아하는_메뉴[1]
메뉴3 = 내가_좋아하는_메뉴[2]
메뉴4 = 내가_좋아하는_메뉴[3]
메뉴5 = 내가_좋아하는_메뉴[4]

In [60]:
메뉴1, 메뉴2, 메뉴3, 메뉴4, 메뉴5 = 내가_좋아하는_메뉴

In [62]:
숫자들 = [1, 2, 3]

# x = 숫자들[0]
# y = 숫자들[1]

x, y = 숫자들

ValueError: too many values to unpack (expected 2)

In [63]:
숫자들 = [1, 2, 3]
x, y = 숫자들[:2]

In [64]:
# x, y = [1, 2]

# x, y = (1, 2)

x, y = 1, 2

swap

In [65]:
# temp = x
# x = y
# y = temp

x, y = y, x

In [66]:
x

2

## 그냥 지나가는 예제

In [54]:
import seaborn as sns

df = sns.load_dataset('titanic')
print(df.shape)
df.head()  # 처음 5개만 보겠다.

(891, 15)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [55]:
df.iloc[-5:]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

## 튜플 (tuple)

In [67]:
메뉴_리스트 = ["라면", "김밥"]

In [68]:
메뉴_리스트.append('쫄면')
메뉴_리스트

['라면', '김밥', '쫄면']

In [69]:
메뉴_튜플 = ("라면", "김밥")

In [70]:
메뉴_튜플.append('쫄면')

AttributeError: 'tuple' object has no attribute 'append'

In [71]:
메뉴_튜플 = ("라면", "김밥", '쫄면')

튜플에서 헷갈리는 부분

In [72]:
('라면', '김밥')

('라면', '김밥')

In [73]:
'라면', '김밥'

('라면', '김밥')

In [76]:
'라면',

('라면',)

## 집합 (Set)

In [77]:
음식_목록 = {'라면', '김밥', '맥주', '김밥', '라면'}
음식_목록

{'김밥', '라면', '맥주'}

In [78]:
멜론 = {'아이유', 'Zion. T', '양다일', 'pH-1', '임창정'}
벅스 = {'아이유', 'Zion. T', '크러쉬', '양다일', '다비치'}

In [80]:
멜론 | 벅스  # 합집합

{'Zion. T', 'pH-1', '다비치', '아이유', '양다일', '임창정', '크러쉬'}

In [81]:
멜론 & 벅스  # 교집합

{'Zion. T', '아이유', '양다일'}

In [82]:
멜론 - 벅스  # 차집합

{'pH-1', '임창정'}

In [83]:
벅스 - 멜론

{'다비치', '크러쉬'}

In [84]:
멜론 ^ 벅스

{'pH-1', '다비치', '임창정', '크러쉬'}

In [86]:
멜론_가수 = [
    '아이유', 'Zion. T', '양다일', 'pH-1', '임창정',
    'Zion. T', '임창정',
]

In [89]:
# 한 타입 => 다른 타입으로의 변환이 가능
# list, tuple, set, dict
set(멜론_가수)

{'Zion. T', 'pH-1', '아이유', '양다일', '임창정'}

In [91]:
list("안녕하세요")

['안', '녕', '하', '세', '요']

In [92]:
set("안녕하세요")

{'녕', '세', '안', '요', '하'}

In [93]:
len(set(멜론_가수))

5

In [94]:
list(set(멜론_가수))

['아이유', '양다일', 'Zion. T', '임창정', 'pH-1']