## EP06. 함수

In [1]:
def 부가세_계산(금액):
    부가세 = 금액 // 11
    return 부가세

In [2]:
부가세_계산(20000)

1818

In [3]:
def 부가세_계산2(금액):
    부가세 = 금액 // 11
    부가세를_뺀_금액 = 금액 - 부가세
    return ㅇ (부가세를_뺀_금액, 부가세)

In [4]:
부가세_계산2(20000)

[18182, 1818]

In [5]:
x, y = 1, 2

In [6]:
금액1, 금액2 = 부가세_계산2(20000)

In [7]:
금액1

18182

In [8]:
금액2

1818

In [9]:
def 월급_계산(기본급, 야근시간):
    return 기본급 + 야근시간 * 10000

In [10]:
월급_계산(1000000, 40)

1400000

In [11]:
월급_계산(40, 1000000)

10000000040

In [14]:
월급_계산(기본급=1000000, 야근시간=40)

1400000

In [15]:
월급_계산(야근시간=40, 기본급=1000000)

1400000

In [16]:
월급_계산(1000000, 야근시간=40)

1400000

디폴트 인자

In [22]:
def 월급_계산2(기본급, 야근시간=0):
    return 기본급 + 야근시간 * 10000

In [23]:
월급_계산2(1000000)

1000000

In [24]:
import pandas as pd

In [25]:
pd.DataFrame

pandas.core.frame.DataFrame

In [26]:
print("hello")

hello

In [29]:
sum = 0

In [30]:
sum([1, 2, 3])

TypeError: 'int' object is not callable

### 연습문제

1) 문자열을 인자로 받아, 단어수를 반환하는 함수를 작성하세요.

In [32]:
def 단어수_세기(문자열):
    # TODO: 구현
    return 10

In [33]:
s = "hello world, hello python, hello django."
s.split()  # 구분자(white spaces)로 구분해서, 문자열을 리스트화

['hello', 'world,', 'hello', 'python,', 'hello', 'django.']

In [34]:
len(s.split())

6

In [38]:
s = "안녕, 세상아."
print(len(s))  # 글자수
print(len(s.split()))  # 단어수

8
2

In [39]:
def 단어수_세기(문자열):
    return len(문자열.split())

In [40]:
단어수_세기("안녕, 세상아")

2

2) 문자열을 인자로 받아, 공백을 제외한 글자수

In [42]:
s = "hello world, hello python, hello django."

In [43]:
글자수 = 0

for 글자 in s:    
    if 글자 != ' ':  # 글자가 공백이 아니라면 ...
        글자수 += 1
        
글자수

35

In [44]:
len(s)

40

In [45]:
def 단어수_세기(문자열):
    글자수 = 0

    for 글자 in 문자열:    
        if 글자 != ' ':  # 글자가 공백이 아니라면 ...
            글자수 += 1

    return 글자수

In [46]:
단어수_세기("안녕, 세상아")

6

In [47]:
import requests

res = requests.get("http://naver.com")

단어수_세기(res.text)

156155