# Python 기초 강의
## 1일차

+ 파이썬 개발환경 셋업
+ 파이썬 기본 데이터타입
+ 파이썬 기본 자료구조
    - 리스트
    - 튜플
    - 집합
    - 사전

In [11]:
2 ** 1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [9]:
"이진석" * 3

'이진석이진석이진석'

In [10]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## EP02

In [3]:
123  # 정수 (int)

123

In [4]:
123.456  # 실수 (float)

123.456

In [5]:
2 ** 1000  # 계산결과 => 정수

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [6]:
"이진석"  # 문자열 (str)
"아이폰"
"갤럭시"
"노트북"

'노트북'

In [7]:
10 == "10"

False

### 변수

In [8]:
나이 = 20  # 등호 1개, 할당(assign) 연산자

In [9]:
나이

20

In [10]:
나이 = 30

In [11]:
나이

30

In [12]:
20 = 30

SyntaxError: can't assign to literal (<ipython-input-12-4302fa06e41f>, line 1)

In [13]:
나이

30

In [18]:
나이 = (나이 + 1)  # 총 5회 실행

In [19]:
나이

35

In [21]:
age = 19
country = "Korea"
country

'Korea'

In [26]:
나이 = (나이 + 1)
나이

39

In [29]:
last_name = "Lee"

In [30]:
a = 10
b = 20

In [31]:
last_name = "Lee"  # snake case

lastName = "Lee"  # Camel Case

### 데이터 타입

#### 숫자 타입

In [32]:
2 + 3

5

In [34]:
10 / 3  # / 의 결과는 항상 실수

3.3333333333333335

In [35]:
10 // 3  # 몫

3

In [36]:
10 % 3  # 나머지

1

In [38]:
12 % 3 == 0  # 12가 3의 배수인지 여부

True

In [39]:
divmod(10, 3)  # 몫/나머지를 한 번에 계산

(3, 1)

In [40]:
2 ** 100

1267650600228229401496703205376

값에 대한 비교 : ==, !=, <, <=, >, >=

In [41]:
10 < -1

False

#### 문자열 타입

In [46]:
이름 = "이진석"
지역 = "대전"

In [47]:
"이진석"

'이진석'

In [48]:
'이진석'

'이진석'

In [49]:
'Tom's House'

SyntaxError: invalid syntax (<ipython-input-49-c2181fc906af>, line 1)

In [50]:
'Tom\'s House'

"Tom's House"

In [51]:
"Tom's House"

"Tom's House"

In [56]:
# 보통의 프로그래밍 언어에서 취할 수 있는 방법
# 현대적인 언어에서는 대안을 제시합니다.
가사 = "이 노래가 클럽에서 나온다면\n" + \
    "네가 이 음악에 춤출 수 있을까요\n" + \
    "이 노래가 클럽에서 나온다면\n" + \
    "혹시 그녀가 내게 전화할까요"
print(가사)

이 노래가 클럽에서 나온다면
네가 이 음악에 춤출 수 있을까요
이 노래가 클럽에서 나온다면
혹시 그녀가 내게 전화할까요

In [57]:
가사 = """이 노래가 클럽에서 나온다면
네가 이 음악에 춤출 수 있을까요
이 노래가 클럽에서 나온다면
혹시 그녀가 내게 전화할까요"""
print(가사)

이 노래가 클럽에서 나온다면
네가 이 음악에 춤출 수 있을까요
이 노래가 클럽에서 나온다면
혹시 그녀가 내게 전화할까요

In [58]:
푸쉬_메세지 = """오늘도 저희 서비스를 찾아주셔서 감사드립니다.

2019년에도 큰 사랑 보답하겠습니다.

- 서비스 ???"""

In [59]:
print("안녕하세요. 이진석님. 대전에 사시네요.")
print("안녕하세요. 아이유님. 서울에 사시네요.")

안녕하세요. 이진석님. 대전에 사시네요.
안녕하세요. 아이유님. 서울에 사시네요.

In [63]:
이름 = "이진석"
지역 = "대전"

print("안녕하세요. {}님. {}에 사시네요.".format(이름, 지역))
print("안녕하세요. {}님. {}에 사시네요.".format(지역, 이름))

안녕하세요. 이진석님. 대전에 사시네요.
안녕하세요. 대전님. 이진석에 사시네요.

In [65]:
이름 = "이진석"
년도1 = 2018
년도2 = 2019

푸쉬_메세지 = """안녕하세요. {} 고객님.

{}년에 큰 사랑 주셔서 감사합니다.

다가오는 {}년에도 큰 사랑
보답할 수 있도록 더욱 노력하겠습니다.""".format(이름, 년도1, 년도2)

print(푸쉬_메세지)

안녕하세요. 이진석 고객님.

2018년에 큰 사랑 주셔서 감사합니다.

다가오는 2019년에도 큰 사랑
보답할 수 있도록 더욱 노력하겠습니다.

여러 명을 커버하고자 할 경우 => 컨테이너

In [67]:
고객_리스트 = [
    "김갑돌",
    "이철수",
    "이진석",
]

for 이름 in 고객_리스트:
    print(이름)

김갑돌
이철수
이진석

#### 비교연산

In [68]:
100 > 99

True

In [69]:
"100" > 99

TypeError: '>' not supported between instances of 'str' and 'int'

In [70]:
"100" > "99"

False

In [71]:
ord("1")   # 문자열 "1"이 가지는 실제 숫자

49

In [72]:
ord("9")   # 문자열 "9"이 가지는 실제 숫자

57

In [73]:
ord("가")

44032

In [74]:
ord("나")

45208

In [75]:
"가" < "나"

True

In [78]:
숫자 = 12

if 숫자 % 3 == 0:
    print("3의 배수입니다.")
else:
    print("3의 배수가 아닙니다.")

if 숫자 % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

3의 배수입니다.
짝수입니다.

In [79]:
name = "이진석"

In [80]:
mame

NameError: name 'mame' is not defined

In [ ]:
여행하고싶은_나라 = "하노이"

In [81]:
여행하고싶은_나라

NameError: name '여행하고싶은_나라' is not defined